<div class="container">
  <div class="page-header">
    <h1>Artistes</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Rechercher un artiste Spotify</h3>
    </div>
    <div class="panel-body">

      <form class="form-inline" (ngSubmit)="searchArtists()" [formGroup]="form" novalidate>

        <div class="form-group">
          <input type="text" class="form-control" formControlName="keyword" placeholder="Mot(s)-clé(s)">
        </div>
        <button type="submit" class="btn btn-primary">Chercher</button>
      </form>    

    </div>
  </div>
</div>

<div class="container artists" *ngIf="results && results.total">
     <div class="row media artist" *ngFor="let result of results.items" [routerLink]="['/artist', result.id]">
      <div class="col-sm-2 media-left">
        <app-display-image 
          [imageList]="result.images" 
          [imageType]="'thumbnail'"
          [altText]="result.name">
        </app-display-image>
      </div>

      <div class="col-sm-10 artist__data">
        <h4 class="media-heading">{{ result.name}}</h4>
        {{ result | artistGenres }}
      </div>
  </div>
</div>


<app-pagination [data]="pagination" *ngIf="pagination && pagination.totalPages > 1"></app-pagination>
