<div class="container" *ngIf="album && album.artists">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']">Recherche</a></li>
    <li><a [routerLink]="['/artist', album.artists[0].id]">Artist</a></li>
    <li class="active">Album</li>
  </ol>

  <div class="page-header">
    <h1>Pistes</h1>
    <h2>{{ album.artists[0].name }} - {{ album.name }}</h2>
  </div>

</div>

<div class="container" *ngIf="album">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <app-display-image 
        [imageList]="album.images" 
        [imageType]="'poster'" 
        [altText]="album.name">
      </app-display-image>
    </div>
    <div class="col-xs-12 col-sm-6">
      <ul class="list-group" *ngIf="album.tracks">
        <li class="list-group-item" *ngFor="let track of album.tracks.items">
            {{ track.track_number }}. {{ track.name }}
            <span class="badge">{{ track.duration_ms | trackDuration }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>