<div class="container text-center" *ngIf="data">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a
          *ngIf="!data.entityId && data.prevPage > 0"
          [routerLink]="[data.stateName, {keyword: data.keyword, offset: data.prevOffset}]" 
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        <a
          *ngIf="data.entityId && data.prevPage > 0"
          [routerLink]="[data.stateName, data.entityId, {keyword: data.keyword, offset: data.prevOffset}]" 
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li *ngFor="let pageIdx of data.pagesRange" [ngClass]="{active: pageIdx === data.currentPage}">
        <a 
          *ngIf="!data.entityId"
          [routerLink]="[data.stateName, {keyword: data.keyword, offset: (pageIdx - 1) * data.perPage}]">
          {{ pageIdx }}
      </a>
      <a 
        *ngIf="data.entityId"
        [routerLink]="[data.stateName, data.entityId, {keyword: data.keyword, offset: (pageIdx - 1) * data.perPage}]">
        {{ pageIdx }}
    </a>
  </li>

  <li>
    <a
      *ngIf="!data.entityId && data.nextPage > 0"
      [routerLink]="[data.stateName, {keyword: data.keyword, offset: data.nextOffset}]" 
      aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
    <a
      *ngIf="data.entityId && data.nextPage > 0"
      [routerLink]="[data.stateName, data.entityId, {keyword: data.keyword, offset: data.nextOffset}]" 
      aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
</nav>
</div>