.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album {
  height: 330px;
  margin-bottom: 50px;
}

.album:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .album {
    height: 310px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .album {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .album {
    margin-bottom: 30px;
  }
}