<div class="container">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']">Recherche</a></li>
    <li class="active">Artist</li>
  </ol>

  <div class="page-header">
    <h1>Albums</h1>
    <h2 *ngIf="albums && albums.length > 0">{{ albums[0].artists[0].name }}</h2>
  </div>

</div>

<div class="container albums" *ngIf="albums && albums.length > 0">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 album" *ngFor="let album of albums">
      <div class="thumbnail text-center" [routerLink]="['/album', album.id]">
        <app-display-image 
          [imageList]="album.images" 
          [imageType]="'card'"
          [altText]="album.name">
        </app-display-image>
        <div class="caption">
          <h4 class="truncate">{{album.name}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<app-pagination [data]="pagination" *ngIf="pagination && pagination.totalPages > 1"></app-pagination>